<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets">
    <h:head>
        <title>Add Student</title>
    </h:head>
    <h:body>
        <ui:composition template="/template/student.xhtml">
            <ui:define name="mode">
                Edit
            </ui:define>
            <ui:define name="button">
                <h:commandButton value="Reset" action="#{studentMB.resetStudent(true)}" immediate="true" />
                <h:commandButton value="Edit" action="#{studentMB.saveStudent()}"/>
                <h:commandButton value="Cancel" action="view?face-redirect=true" immediate="true" />
            </ui:define>
        </ui:composition>
    </h:body>
</html>

