<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://xmlns.jcp.org/jsf/html">
    <h:head>
        <title>Facelet Title</title>
    </h:head>
    <h:body>
        <h1>Student Management</h1>
        <h:form>
            <h:commandButton action="#{studentMB.addNewStudent()}" value="Add"/>
            <h:commandButton action="view?faces-redirect=true" value="View"/>
        </h:form>
<!--        <h:button value="Add" outcome="add" />
        <h:button value="View" outcome="view" />-->
    </h:body>
</html>

