<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:f="http://xmlns.jcp.org/jsf/core">
    <h:head>
        <title>Facelet Title</title>
    </h:head>
    <h:body>
        <h1>List of Student</h1>
        <h:dataTable border="1" value="#{studentMB.studentList}" var="stu">
            <h:column>
                <f:facet name="header" >ID</f:facet>
                #{stu.id}
            </h:column>
            <h:column>
                <f:facet name="header" >Name</f:facet>
                #{stu.name}
            </h:column>
            <h:column>
                <f:facet name="header" >GPA</f:facet>
                #{stu.gpa}
            </h:column>
            <h:column>
                <f:facet name="header" >Gender</f:facet>
                #{stu.gender}
            </h:column>
            <h:column>
                <f:facet name="header" >Own</f:facet>
                #{stu.own}
            </h:column>
            <h:column>
                <f:facet name="header" >HasPhone</f:facet>
                #{stu.hasPhone}
            </h:column>
            <h:column>
                <f:facet name="header" >Laptop</f:facet>
                #{stu.laptop}
            </h:column>
            <h:column>
                <f:facet name="header" >Option</f:facet>
                <h:form>
                    <h:commandButton action="#{studentMB.editStudent(stu.id)}" value="Edit"/>
                    <h:commandButton action="#{studentMB.deleteStudent(stu.id)}" value="Delete" onclick="return confirm('Are you sure you want to delete this student?')"/>
                </h:form>                    
            </h:column>
        </h:dataTable>
        <br/>
        <h:button outcome="index" value="Done"></h:button>
    </h:body>
</html>

