<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:ui="http://java.sun.com/jsf/facelets"
      xmlns:f="http://xmlns.jcp.org/jsf/core"
      xmlns:c="http://java.sun.com/jsp/jstl/core">
    <h:head>
        <title>Facelet Title</title>
    </h:head>
    <h:body>

        <ui:composition template="/templates/master.xhtml">
            <ui:define name="title">
                #{msgs.character1}
            </ui:define>
            <ui:define name="variable">
                <ui:param name="page" value="1" />
                <c:set value="#{pageMB.count}" target="#{pageMB}" property="count" />
            </ui:define>
            <ui:define name="content">
                <!-- Page Content -->
                <div id="page-content-wrapper">
                    <div class="container-fluid">
                        <div class="row">
                            <div class="col-lg-12">
                                <ui:param name="p" value="character#{pageMB.page}"/>
                                <h1>#{msgs[p]}</h1>
                                <h:graphicImage library="img" name="#{pageMB.page}.jpg" styleClass="charImage"/>
                                <h:outputText value="#{pageContentMB.content.get(pageMB.page)}" escape="false" />
                            </div>
                        </div>
                    </div>
                </div>
                <!-- /#page-content-wrapper -->

            </ui:define>
        </ui:composition>

    </h:body>
</html>

