<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://java.sun.com/jsf/facelets"
      xmlns:f="http://xmlns.jcp.org/jsf/core"
      xmlns:h="http://java.sun.com/jsf/html">
    <head>
        <title>Footer</title>
    </head>
    <body>
        <ui:composition>   
            <div class="footer navbar-fixed-bottom footerTemplate">
                <h:form>
                    <h:commandButton action="#{pageMB.previousPage()}" styleClass="pull-left" value="Previous"/>
                    <h:commandButton action="#{pageMB.nextPage()}" styleClass="pull-right" value="Next"/>
                </h:form>

                #{msgs.footer}
            </div>
        </ui:composition>
    </body>
</html>

