<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://java.sun.com/jsf/facelets"
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:f="http://xmlns.jcp.org/jsf/core">
    <h:head>
        <title>
            <ui:insert name="title" >
                #{msgs.windowTitle}
            </ui:insert>
        </title>        
        <link rel="shortcut icon" href="http://67.media.tumblr.com/avatar_4a5e2f75a7f6_128.png"></link>
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7" crossorigin="anonymous"></link>        
        <h:outputStylesheet library="css" name="style.css"  />
        <script src="https://code.jquery.com/jquery-2.2.4.min.js"   integrity="sha256-BbhdlvQf/xTY9gja0Dq3HiwQF8LaCRTXxZKRutelT44="   crossorigin="anonymous"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js" integrity="sha384-0mSbJDEHialfmuBBQP6A4Qrprq5OVfW37PRR3j5ELqxss1yVqOtnepnHVP9aJ7xS" crossorigin="anonymous"></script>

    </h:head>
    <h:body>
        <ui:insert name="variable">      
        </ui:insert>
        <div id="wrapper">
            <div id="header">
                <ui:insert name="header">                      
                    <ui:include src="/templates/header.xhtml"/>
                </ui:insert>    
            </div>
            <ui:insert name="sidebarLeft">
                <ui:include src="/templates/sidebar.xhtml"/>
            </ui:insert>
            <div id="content">
                <ui:insert name="content">

                </ui:insert>
            </div>
            <div id="footer">
                <ui:insert name="footer">
                    <ui:include src="/templates/footer.xhtml"/>
                </ui:insert>
            </div>
        </div>
    </h:body>
</html>

