<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://java.sun.com/jsf/facelets"
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:c="http://java.sun.com/jsp/jstl/core">
    <head>
        <title>Facelet Title</title>
    </head>
    <body>
        <ui:composition>   


            <!-- Sidebar -->
            <div id="sidebar-wrapper">
                <ul class="sidebar-nav">
                    <a href="../index.jsf">
                        <h:graphicImage library="img" name="theflash.jpg" width="250"/>
                    </a>           
                    <h:form>
                        <c:forEach begin="1" end="8" var="num">
                            <ui:param name="p" value="character#{num}" />
                            <li class="${pageMB.page==num?'active':''}">
                                <h:commandLink action="#{pageMB.showPage(num)}" value="#{msgs[p]}" />		
                            </li>
                        </c:forEach>
                    </h:form>
                    <div class="sidebar-count">Click Count : #{pageMB.count}</div>
                </ul>

            </div>

            <!-- /#sidebar-wrapper -->
        </ui:composition>
    </body>
</html>

