<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:ui="http://java.sun.com/jsf/facelets"
      xmlns:f="http://xmlns.jcp.org/jsf/core"
      xmlns:c="http://java.sun.com/jsp/jstl/core">
    <h:head>
        <title>Facelet Title</title>
    </h:head>
    <h:body>

        <ui:composition template="/templates/master.xhtml">
            <ui:define name="title">
                #{msgs.character1}
            </ui:define>
            <ui:define name="variable">
                <ui:param name="page" value="1" />
                <c:set value="#{pageMB.count}" target="#{pageMB}" property="count" />
            </ui:define>
            <ui:define name="content">
                <!-- Page Content -->
                <div id="page-content-wrapper">
                    <div class="container-fluid">
                        <div class="row">
                            <div class="col-lg-12">
                                <h1>#{msgs.character1}</h1>
                                <h:graphicImage library="img" name="1.jpg" styleClass="charImage"/>
                                <p>Grant Gustin portrays Barry Allen / Flash, a socially awkward Assistant Crime Scene Investigator for the Central City Police Department that also moonlights as the superhero Flash.</p>
                                <p>In season one, Barry was a traumatized child when his mother was murdered by the Reverse-Flash and his father was framed for the crime. Barry was subsequently adopted by Joe West and spent his whole life trying to discover what really happened that night. Moments after an explosion at the S.T.A.R. Labs particle accelerator, Barry is struck by lightning in his laboratory and doused by chemicals affected by the accident. When he recovers from a nine-month coma, he has superhuman speed. He uses his new powers to fight crimes and hunt other metahumans in Central City as the masked superhero known as the Flash, while trying to unravel the mystery of his mother's murderer's identity for his father's sake. Barry has long harbored feelings for Iris since childhood and kept them to himself but eventually reveals his feelings, leading to complications regarding Iris' relationship with Eddie; however, he learns from a 2024 newspaper in the Time Vault at S.T.A.R. Labs that he may eventually marry Iris. He also shares a close father-son bond with Joe and often asks for advice regarding his feelings for Iris and also what course of action to take as a hero. Initially however, Barry resented Joe's refusing to believe in the circumstances of Nora's murder and Henry's innocence and as a result Barry was hesitant to accept Joe as his surrogate father, although Joe had come to have this view toward Barry years before. Barry also becomes good friends with Cisco, Caitlin and his idol Dr. Wells who acts as his mentor while on missions, giving him advice on how to adapt and increase his range of powers. However, he later becomes suspicious of Dr. Wells and eventually learns his mentor is actually Eobard Thawne / Reverse-Flash in disguise, leading him to develop a deep resentment toward the imposter. At last, Barry discovers Eobard's plot to use the Flash's speed and the particle accelerator to generate a portal to his own time, while at the same time Barry can travel back to the night of his mother's murder and prevent it. Barry agrees but is warned by his older counterpart not to interfere and instead chooses to fight the Reverse-Flash and stop him from returning to the future. He is almost killed during the fight until Eddie sacrifices himself to erase Eobard from existence which causes a wormhole to emerge that Ronnie also stops but at the cost of his own life.</p>
                                <p>In season two, Barry becomes reclusive following the deaths of Eddie and Ronnie, but a near-death experience convinces him to work with his friends again. He also discovers a recording left containing Eobard's confession to Nora's murder which allows Henry's freedom. Barry later becomes the target of various metahumans working for the enigmatic speedster Zoom and is confronted by Jay Garrick, a speedster from Earth-2 who also operated as the Flash and informs him that Zoom seeks to kill Barry in order to be the only speedster in the multiverse. He also struggles to move on from hunting the Reverse-Flash as it has been his life's driving goal since childhood but eventually realizes that hating Eobard won't let him move on with his life and chooses to forgive his nemesis. Having moved on from Iris on good terms, Barry sparks up romance with partner Detective Patty Spivot; they later decide to separate after Patty learns of Barry's secret identity before leaving Central City, as they think that doing so will keep her safe. Barry also grudgingly works with Dr. Harrison "Harry" Wells of Earth-2 due to his role in creating Zoom, and eventually accepts him as an ally for the sake of an innocent's life after Barry learns that Zoom kidnaps Harry's daughter. Barry later encounters a younger version of Eobard, one who has yet to murder his mother, but also learns that any attempts to alter events he has caused will alter timeline too significantly and is forced to let him go and accepts that he will face Eobard repeatedly from this point onward. After befriending Harry's daughter and escaping Earth-2 with her, Harry, and Cisco, Barry is grief-stricken following Jay's apparent murder by Zoom. However, Barry and the team later discover that Zoom is Jay himself and subsequently learn of his true identity, Hunter Zolomon, needing Barry's speed to cure himself of a terminal illness caused by his usage of the Velocity drugs. In order to get himself faster to stop Hunter, Barry travels back in time to the moment he is apprehending Hartley Rathaway, so that he can ask Eobard — who disguises as Harrison Wells then — for help, feeling that his long-time archenemy will be willing to do so; in the process, Barry slightly alters the timeline resulting in Hartley becoming his ally. After sacrificing his powers to save Joe's son Wally from Zoom, Harry offers to help Barry recreate the events that gave him his speed, but he disappears as the particle accelerator explodes. Finding himself trapped in the Speed Force, its sentience reveals its origins to Barry and works to help him move on from his mother's death before he returns home. After saving the city from Zolomon's army, Barry suffers yet another tragedy after Zolomon kills his father at his childhood home. Barry then avenges his father by luring the Time Wraiths to his enemy, and thus apparently killing Zolomon. Barry later again travels back to the past and saves his mother from Eobard, altering his past in hopes that his parents would live.</p>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- /#page-content-wrapper -->

            </ui:define>
        </ui:composition>

    </h:body>
</html>

