<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:ui="http://java.sun.com/jsf/facelets">
    <h:head>
        <title>Facelet Title</title>
    </h:head>
    <h:body>
        <ui:composition template="/templates/master.xhtml">
            <ui:define name="title">
                #{msgs.character2}
            </ui:define>
            <ui:define name="variable">
                <ui:param name="page" value="2" />
            </ui:define>
            <ui:define name="content">
                <!-- Page Content -->
                <div id="page-content-wrapper">
                    <div class="container-fluid">
                        <div class="row">
                            <div class="col-lg-12">
                                <h1>#{msgs.character2}</h1>
                                <h:graphicImage library="img" name="2.jpg" styleClass="charImage"/>
                                <p>Candice Patton portrays Iris West, the daughter of Detective Joe West and best friend of Barry Allen.</p>
                                <p>In the beginning of the first season, Iris works as a barista at a local espresso prior to being hired as a reporter. Though she had wanted to follow her father's footsteps in police work, Joe forbade Iris, so she majors in journalism at college, eventually becoming an investigative journalist at Central City Picture News after graduation. Iris is fascinated by the Flash and seeks to find out more about the superhero. As she didn't initially learn of Barry's love for her, she begins dating her father's partner, Eddie Thawne, while Barry is in a coma. When Barry does confess having feelings for her, she is emotionally conflicted between Barry and Eddie as deep down she also loves the former. She discovers that Barry is the Flash after the speedster saves her from the Reverse-Flash, but also feels betrayed because Barry kept this secret from her, and she is more so at her father, who didn't want Barry to tell her and didn't tell her about Barry's feelings for her. Despite her possible future with Barry, Iris chooses to be with Eddie, and she and Barry decide to let things proceed between them naturally, not letting their lives to be dictated by fate.</p>
                                <p>n the second season, Iris becomes more involved with S.T.A.R. Labs Team alongside her father. With Barry moving on from her on good terms, Iris encourages Barry to pursue a relationship with her father's new partner and protégée Patty Spivot. She also learns that her mother is alive but dying from a terminal illness, and discovers that her mother has a son, Wally, after she abandoned her family; Iris realizes that her mother's son is also her father's and thus is her brother. Iris's relationship with her mother is further estranged after knowing that she spent most of her life raising Wally instead of her. Aware that her father envies Barry his relationship with Henry Allen, Iris contemplates whether or not to tell Joe about Wally; she fears that the revelation may hurt her father if he knows that his son grew up without knowing him. Iris eventually reveals to her father about Wally after keeping this a secret for a few weeks, and she meets her brother after he arrives to spend Christmas time with her and their father. She ultimately forgives her mother on her deathbed and accepts Wally. Iris also ultimately moves on from Eddie's death, after watching his video message to her in which he admits his happiness in being with her, which Barry records while travelling back in time to the moment he is apprehending Hartley Rathaway. Iris has also begun to reconsider a relationship with Barry after his break up with Patty in addition to learning of her Earth-2 counterpart's marriage with Barry's.</p>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- /#page-content-wrapper -->

            </ui:define>
        </ui:composition>

    </h:body>
</html>

