<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:ui="http://java.sun.com/jsf/facelets">
    <h:head>
        <title>Facelet Title</title>
    </h:head>
    <h:body>
        <ui:composition template="/templates/master.xhtml">
            <ui:define name="title">
                #{msgs.character3}
            </ui:define>
            <ui:define name="variable">
                <ui:param name="page" value="3" />
            </ui:define>
            <ui:define name="content">
                <!-- Page Content -->
                <div id="page-content-wrapper">
                    <div class="container-fluid">
                        <div class="row">
                            <div class="col-lg-12">
                                <h1>#{msgs.character3}</h1>
                                <h:graphicImage library="img" name="3.jpg" styleClass="charImage"/>
                                <p>Danielle Panabaker portrays Dr. Caitlin Snow, a bioengineer at S.T.A.R. Labs.</p>
                                <p>In season 1, she provides the medical support for Barry's team. Caitlin is initially the most temperamental and uptight person on the team, mainly out of grief for her fiancé Ronnie,[5] who she believes was killed in S.T.A.R. Labs' particle accelerator explosion. However, she later discovers that her fiancé survived and is ultimately the metahuman Firestorm. Subsequently after embracing the loss of Ronnie, before learning that he is alive, she becomes much more compassionate and kinder. When she discovers that Ronnie is actually Professor Martin Stein, merged with Ronnie's body and Ronnie's mind locked away, Caitlin convinces Professor Stein to let her team help him. Eventually, she succeeds in separating Ronnie and Stein but, after an encounter with General Eiling, Ronnie and Stein are forced to leave to keep her safe but Caitlin is understanding and hopes that they will be reunited again one day. When Dr. Wells is implicated to be the Reverse-Flash, Caitlin is the most skeptical but is convinced when Cisco and Joe find the corpse of the real Dr. Wells and discover Eobard's true identity. In the finale when Ronnie returns to help Barry and Oliver Queen against Eobard, he and Caitlin marry.</p>
                                <p>In season 2, Caitlin is widowed following Ronnie's sacrifice of saving Barry and Central City from the singularity, which she blames herself for rather than Barry as Ronnie has previously proposed leaving the city which she declines, as she believes that if she accepted Ronnie would still be alive. She initially moved away to work in Mercury Labs but eventually moves back to S.T.A.R. Labs to aid Barry in his fight against Zoom, a speedster from a parallel universe (Earth-2). Like most when the team encounters the Earth-2 Harrison "Harry" Wells, Caitlin is skeptical to trust him but after he reveals that he's there to help Barry because Zoom takes his daughter Jesse, Caitlin becomes more trusting of him. Caitlin also develops romance with Jay Garrick, the Earth-2 Flash and Zoom's archenemy, but discovers that Jay is dying of illness as a result of Zoom stealing his speed and tries to aid him. In this search Caitlin and Harry develop a speed drug called "Velocity-6" which grants temporary speed but affects a speedster on a cellular level. When Barry is away on Earth-2 and the city is endangered by Geomancer, Caitlin is able to perfect it to Velocity-9 to grant Jay's speed back and repair his damaged cells with it. Following Jay's apparent murder by Zoom, she has since been trying to cope with another loss by hiding her emotions, as some of her friends fear this could lead her to become like her Earth-2 counterpart, Killer Frost. When Cisco discovers that Jay is Zoom, Caitlin is devastated and hating towards him for using her. The team also discovers that Jay is really Hunter Zolomon, a serial killer on Earth-2. When Hunter forces Barry to give up his speed in exchange for Wally's life, he tries to kill Barry but Caitlin begs him not to and Hunter, who is genuinely in love with Caitlin, obeys and yet abducts her and brings her to Earth-2. After meeting her doppelgänger and almost being murdered by her, Zoom takes Caitlin back to Earth-1 so she can watch as he conquers it just like he did Earth-2. Hunter has also tried to manipulate her into turning evil like Killer Frost, trying to convince Caitlin she has a darkness just like her counterpart did. However because of Hunter's love for Caitlin she is able to sway him away from killing people, much to his own chagrin.</p>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- /#page-content-wrapper -->

            </ui:define>
        </ui:composition>

    </h:body>
</html>

