<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:ui="http://java.sun.com/jsf/facelets">
    <h:head>
        <title>Facelet Title</title>
    </h:head>
    <h:body>
        <ui:composition template="/templates/master.xhtml">
            <ui:define name="title">
                #{msgs.character4}
            </ui:define>
            <ui:define name="variable">
                <ui:param name="page" value="4" />
            </ui:define>
            <ui:define name="content">
                <!-- Page Content -->
                <div id="page-content-wrapper">
                    <div class="container-fluid">
                        <div class="row">
                            <div class="col-lg-12">
                                <h1>#{msgs.character4}</h1>
                                <h:graphicImage library="img" name="4.jpg" styleClass="charImage"/>
                                <p>Carlos Valdes portrays Cisco Ramon / Vibe, a mechanical engineering genius.</p>
                                <p>In season 1, Cisco is the youngest member of the team of scientists at S.T.A.R. Labs who has a very relaxed and comedic wit. Cisco also has a tendency to nickname the metahuman villains they face, some of whom actually do adopt these names for themselves, and develops equipment and arsenal for Barry Allen and his vigilante allies. He especially forms a friendly bond with Ray Palmer (the Atom) because of their genius intellects and shared tendency to nickname enemies, and is an admirer of Dinah Laurel Lance (Black Canary). Cisco is on bad terms with his brother Dante Ramon, the family's favorite despite the most emotionally insecure. Despite his close friendship with Barry, Cisco is also afraid of the metahumans and fears that his friend may go rogue like his enemies. He develops various measures including cryonic and heat guns to counter the Flash’s powers, but they are eventually stolen by criminals Leonard Snart and Mick Rory as means for them to against the Flash. Although he is considered a surrogate son of "Harrison Wells"/Eobard Thawne, he is initially the first person to discover Wells' true identity for which he is killed until Barry resets the timeline; yet, Cisco retains the memories of the events that led to his murder. Cisco learns from Eobard that this is because he was also affected by the particle accelerator's explosion and thus is now a metahuman, having an ability to see into alternate timelines and realities and other powers, but is afraid of what may happen because of them.</p>
                                <p>In season 2, Cisco is hired by Central City Police Department as its technical advisor and metahuman task force's armorer, building various means for the police to counter super-criminals. He frequently works with Joe West in combating them. Also in season 2, Cisco can see where other metahumans from Earth-2 are located and what they're doing, usually by touching something of their possession, but is not yet in full control of his new abilities. Martin Stein is the first to have discovered Cisco's secret, but later he is forced to reveal his powers to the rest of the team because of Harrison Wells of Earth-2 (who he nicknames "Harry"), adopts the codename "Vibe", and eventually receives a retrofitting visor from S.T.A.R. Labs that can help better control of his sensory ability. Cisco also struggles to trust Wells due to his experience with Eobard, but ultimately with his new powers he discovers that Wells needs the team's help for rescuing his own daughter, and thus recognizes that Wells is not like Eobard but a loving father. Despite of it, he still cannot get along with Wells as the result of the contrast of their personalities, and has even admitted that Eobard was a nicer guy. He dates a local espresso barista, Kendra Saunders, but the couple is later separated following the discovery of Kendra's heroic destiny as Hawkgirl. After an encounter with his corrupt Earth-2 doppelgänger, Reverb, Cisco fears that he is on the path to becoming as villainous as his counterpart. However, because of the escalating threats from Zoom, Cisco tries to harness his powers for heroic purposes as Barry. Cisco also meets his brother's Earth-2 doppelgänger, Rupture, after Zoom sees Cisco as a threat and frames him for Reverb's death.</p>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- /#page-content-wrapper -->

            </ui:define>
        </ui:composition>

    </h:body>
</html>

