<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:ui="http://java.sun.com/jsf/facelets">
    <h:head>
        <title>Facelet Title</title>
    </h:head>
    <h:body>
        <ui:composition template="/templates/master.xhtml">
            <ui:define name="title">
                #{msgs.character5}
            </ui:define>
            <ui:define name="variable">
                <ui:param name="page" value="5" />
            </ui:define>
            <ui:define name="content">
                <!-- Page Content -->
                <div id="page-content-wrapper">
                    <div class="container-fluid">
                        <div class="row">
                            <div class="col-lg-12">
                                <h1>#{msgs.character5}</h1>
                                <h:graphicImage library="img" name="5.jpg" styleClass="charImage"/>
                                <p>Tom Cavanagh portrays Dr. Harrison Wells, the mind and money behind the S.T.A.R. Labs Particle Accelerator in Central City.</p>
                                <p>In season one, Dr. Wells is labeled as a pariah after the particle accelerator malfunctions and grants various individuals metahuman abilities, including Barry Allen. Six months later, Wells mentors Barry to help develop his new powers as the Flash. However, Wells turns out to be faking paralysis while secretly removing any opposition and covering his tracks. He is eventually revealed to be Eobard Thawne (portrayed by Matt Letscher),[8] otherwise known as the Reverse-Flash, the Flash's speedster nemesis from the future and Eddie Thawne's distant descendant. Being the one who murdered Nora Allen after a failed attempt to kill Barry as a child, Thawne lost his connection to the Speed Force and becomes stranded in the 21st century. After murdering and assuming the identity of the real Wells, he builds the particle accelerator and orchestrate the events that would turn Barry into the Flash, in order to use Barry's connection to the Speed Force to create a wormhole and return to his time period, all while pretending to be paraplegic in order to deflect suspicion. However, Barry foils Thawne's plan to return to the future, resulting in the two speedsters engaging each other again. As the Reverse-Flash attempts to kill the Flash, Eddie sacrifices himself to erase Thawne from existence.</p>
                                <p>Season two reveals that Thawne still exists due to time remnants of the Speed Force forever protecting him and linking to the timeline. He left S.T.A.R. Labs to Barry in the event of his death, along with a recorded confession to Nora's murder that would clear Henry Allen of all charges. Eventually, when the S.T.A.R. Labs team encounter a version of Thawne from an earlier time, he acquires all of the knowledge he possessed during season one. During a time travel trip, Barry asks Thawne (as Wells) to help get faster. Thawne refuses at first, but agrees to help after Barry convinces him that his plan is successful in the future. After defeating Zoom but at the cost of Henry, Barry travels back to the night of Nora's death, and prevents Thawne from murdering Nora.</p>
                                <p>Season two features an Earth-2 version of Harrison "Harry" Wells. He was also responsible for the creation of metahumans using a particle accelerator which also exploded, resulting the sociopathic serial killer Hunter Zolomon to become the rogue speedster Zoom during incarceration, but did not take responsibility while making a profit with developing metahuman detector technology. When Zoom kidnaps his daughter Jesse Wells, Harry travels to Earth-1 to assist Barry in the fight against Zoom's extorted metahumans and locate Jesse (despite his Earth-1 counterpart's name ruined by Thawne's actions and the misleading that he is the same man). But after Barry's initial defeat by Zoom, Harry is extorted into co-operation in stealing Barry's speed once he develops enough for Zoom to steal in exchange for Jesse's life. After Harry confesses to his collaboration with Zoom, Barry and Cisco decide to travel to Earth-2 with Harry to rescue Jesse. After their mission is complete, both Harry and Jesse seek refuge on Earth-1 from Zoom's pursuit. Later, Harry is trying to recreate the circumstances to help Barry regain his speed after he gives up his power to save Joe West's son Wally, but Barry disappears as the particle accelerator explodes and its dark matter affects both Wally and Jesse. Harry eventually locates Barry at the Speed Force; with Cisco and Iris' help, Harry is able to bring Barry back, and in return, Barry wakes Jesse from the coma.</p>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- /#page-content-wrapper -->

            </ui:define>
        </ui:composition>

    </h:body>
</html>

