<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:ui="http://java.sun.com/jsf/facelets">
    <h:head>
        <title>Facelet Title</title>
    </h:head>
    <h:body>
        <ui:composition template="/templates/master.xhtml">
            <ui:define name="title">
                #{msgs.character6}
            </ui:define>
            <ui:define name="variable">
                <ui:param name="page" value="6" />
            </ui:define>
            <ui:define name="content">
                <!-- Page Content -->
                <div id="page-content-wrapper">
                    <div class="container-fluid">
                        <div class="row">
                            <div class="col-lg-12">
                                <h1>#{msgs.character6}</h1>
                                <h:graphicImage library="img" name="6.jpg" styleClass="charImage"/>
                                <p>Jesse L. Martin portrays Joseph "Joe" West, a police detective, father of Iris West, and a foster father to Barry Allen following Nora Allen's death and Henry Allen's incarceration.</p>
                                <p>Introduced in season one, he is one of the few who knows Barry's secrets; he becomes his reluctant partner against metahuman criminals, and offers Barry supports in both crimefighting and life issues, mainly revolving Barry's feelings for Iris which he has been aware of since they were children. He also helps Barry in the attempts to prove Henry's innocence. Suspicious of Harrison Wells' intentions, Joe also suspects that Wells may be connected to Nora's murder, so is secretly investigating and he and the team ultimately discover Wells' true identity.</p>
                                <p>In season two, Joe is in charge of the department's new metahuman taskforce, in which no one except Cisco and Patty Spivot yet joined due to the officers' fears of the metahumans, leading him to rely on Cisco's inventions when dealing with super criminals and becomes Patty's mentor in police work. He also gradually becomes a father figure to Cisco and Patty. In addition, Joe struggles with the relationship with his estranged wife, Francine. Unbeknownst to Joe, he also fathered a son, Wally, with Francine prior to her leaving her family. He learns of his wife's attempt at entrusting their son to him and Iris before she dies a few weeks after Iris finds out. Distraught after learning Wally's existence, Joe nonetheless seeks to build a relationship with him, and finally meets Wally after his son arrives to spend Christmas time with him and Iris. Though both Joe and Iris see Wally as a rebellious and reckless youth because of his past as a drag racer, they also see that Wally is a decent person taking care of his terminally-ill mother. Initially, Joe is not sure of how to be a father to Wally, but he gradually learns how to treat him the same way as he treats Iris and Barry, and becomes proud of Wally's aptitude in mechanical engineering and ultimately discovers his love for his son after Zoom kidnaps Wally. Although Joe is proud that Wally feels a need to help people in needs, he forbids his son to follow his footsteps as a police officer as he did Iris. After Wally is exposed to the dark matter with Jesse Wells during the attempt to restore Barry's powers, Joe suspects that his son is turning into a metahuman due to his own knowledge on the particle accelerator explosion.</p>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- /#page-content-wrapper -->

            </ui:define>
        </ui:composition>

    </h:body>
</html>

