<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:ui="http://java.sun.com/jsf/facelets">
    <h:head>
        <title>Facelet Title</title>
    </h:head>
    <h:body>
        <ui:composition template="/templates/master.xhtml">
            <ui:define name="title">
                #{msgs.character7}
            </ui:define>
            <ui:define name="variable">
                <ui:param name="page" value="7" />
            </ui:define>
            <ui:define name="content">
                <!-- Page Content -->
                <div id="page-content-wrapper">
                    <div class="container-fluid">
                        <div class="row">
                            <div class="col-lg-12">
                                <h1>#{msgs.character7}</h1>
                                <h:graphicImage library="img" name="7.jpg" styleClass="charImage"/>
                                <p>Rick Cosnett portrays Eddie Thawne, a recent transfer to the Central City Police Department from Keystone City.</p>
                                <p>Introduced in season one, Eddie is a detective who is partnered with Joe West and dates Iris West. He had a troubled childhood and was initially jealous of Barry Allen because of the latter's childhood bond with Iris, as Barry is jealous of Eddie because he is with Iris. However, Eddie is suspicious of Barry's true feelings for Iris despite denials. Despite the tension between them, Barry and Eddie do eventually become good friends. For a time, Eddie sees the Flash as a menace and takes charge of a task force dedicated to capturing the hero. Later, Eddie modifies his negative perception of the Flash after a near-death experience with the Reverse-Flash. He learns of Barry's secret identity and helps Joe and Barry in an investigation of Harrison Wells as the Reverse-Flash. Eddie later finds out that he is a forefather of Wells who reveals that he is really Eobard Thawne and divulges to him that Iris may eventually marry Barry instead of him. However, after a conversation with Martin Stein, Eddie discovers that the future is not yet set and that he is in control of his own destiny. Eddie chooses to stop his sociopathic descendant from killing Barry by killing himself, dying in Iris' arms while causing Eobard to vanish. His body is sucked into a wormhole (later revealed as a doorway to Earth-2) caused by Eobard's manipulations.</p>                                    
                                <p>In the second season premiere, Eddie briefly appears in a vision as a result of Barry's guiltiness towards his death, and a memorial is set up in the precinct in his honor. Eddie later appears again when Barry travels back in time. Barry offers to make Eddie a video message to Iris, so that Iris can let Eddie go and move on from him peacefully.</p>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- /#page-content-wrapper -->

            </ui:define>
        </ui:composition>

    </h:body>
</html>

