<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:ui="http://java.sun.com/jsf/facelets">
    <h:head>
        <title>Facelet Title</title>
    </h:head>
    <h:body>
        <ui:composition template="/templates/master.xhtml">
            <ui:define name="title">
                #{msgs.character8}
            </ui:define>
            <ui:define name="variable">
                <ui:param name="page" value="8" />
            </ui:define>
            <ui:define name="content">
                <!-- Page Content -->
                <div id="page-content-wrapper">
                    <div class="container-fluid">
                        <div class="row">
                            <div class="col-lg-12">
                                <h1>#{msgs.character8}</h1>
                                <h:graphicImage library="img" name="8.jpg" styleClass="charImage"/>
                                <p>Keiynan Lonsdale portrays Wally West,[11] the unknown son of Joe, and Iris's brother,[12] described as "a bit of a wayward kid who has some attitude problems and some authority issues and is quick with a sassy remark".[13] It was always intended for Wally to be the son of Joe and brother of Iris, which differs from the character's comic history, as the producers disliked on second seasons of television series that would introduce cousins of characters that were never previously mentioned, feeling it was "weird".[12] Lonsdale originally auditioned for Legends of Tomorrow to portray Jefferson "Jax" Jackson.[14] Wally was born after his mother's abandonment of her family (who later finds herself pregnant), leading Joe and Iris unaware of his existence for eighteen years until the latter finds out. Wally finally meets his father and sister during a Christmas party shortly before his mother dies; he has since struggled to bond with Joe and Iris. He also forms a brotherly bond with Barry Allen, who is fostered by Joe (despite his jealousy due to this fact), although he is suspicious of Barry's weird behavior as well. Formerly a drag racer, Wally is now enrolled in the same university Iris was in, majoring in mechanical engineering. After repeatedly being rescued by the Flash, Wally becomes fascinated with the superhero and eventually discovers that his father has a connection with him, but is unaware that he is Barry due to Wally's respect for his father's wishes to keep the Flash's secrets. He is also inspired by both his father and the Flash to help people, resulting in him ultimately becoming close to the former. Later, when Wally and Jesse Wells are locked in the Time Vault at S.T.A.R. Labs by their fathers for protection against Zoom, they work together to escape but are accidentally affected by the dark matter released from Jesse's father's attempt to restore Barry's powers; his father suspects that Wally is turning into a metahuman after the incident. Eventually, Wally discovers Barry's secrets when Zoom abducts and kills the latter's father.</p>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- /#page-content-wrapper -->

            </ui:define>
        </ui:composition>

    </h:body>
</html>

