<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:ui="http://java.sun.com/jsf/facelets">
    <h:head>
        <title>Flash Fan Page</title>
        <link rel="shortcut icon" href="http://67.media.tumblr.com/avatar_4a5e2f75a7f6_128.png"></link>
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7" crossorigin="anonymous"></link>
        <h:outputStylesheet library="css" name="style.css"  />
        <script src="https://code.jquery.com/jquery-2.2.4.min.js"   integrity="sha256-BbhdlvQf/xTY9gja0Dq3HiwQF8LaCRTXxZKRutelT44="   crossorigin="anonymous"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js" integrity="sha384-0mSbJDEHialfmuBBQP6A4Qrprq5OVfW37PRR3j5ELqxss1yVqOtnepnHVP9aJ7xS" crossorigin="anonymous"></script>

    </h:head>
    <h:body> 
        <div class="mainWrapper">
            <div id="header"> 
                <h:graphicImage library="img" name="home.jpg"/>
            </div>
            <div class="mainContent">
                <h:form>
                    <h:commandLink action="#{pageMB.showPage(1)}" value="Click here to view Characters detail" />
                </h:form>
            </div>
            <div id="footer">
                <div class="footer navbar-fixed-bottom">
                    #{msgs.footer}
                </div>
            </div>
        </div>
    </h:body>
</html>

