<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://java.sun.com/jsf/facelets"
      xmlns:h="http://java.sun.com/jsf/html">
    <head>
        <title>Facelet Title</title>
    </head>
    <body>
        <ui:composition>   


            <!-- Sidebar -->
            <div id="sidebar-wrapper">
                <ul class="sidebar-nav">
                    <a href="../index.jsf">
                            <h:graphicImage library="img" name="theflash.jpg" width="250"/>
                    </a>                   
                    <li class="${page=='1'?'active':''}">
                        <a href="1.jsf">#{msgs.character1}</a>
                    </li>
                    <li class="${page=='2'?'active':''}">
                        <a href="2.jsf">#{msgs.character2}</a>
                    </li>
                    <li class="${page=='3'?'active':''}">
                        <a href="3.jsf">#{msgs.character3}</a>
                    </li>
                    <li class="${page=='4'?'active':''}">
                        <a href="4.jsf">#{msgs.character4}</a>
                    </li>
                    <li class="${page=='5'?'active':''}">
                        <a href="5.jsf">#{msgs.character5}</a>
                    </li>
                    <li class="${page=='6'?'active':''}">
                        <a href="6.jsf">#{msgs.character6}</a>
                    </li>
                    <li class="${page=='7'?'active':''}">
                        <a href="7.jsf">#{msgs.character7}</a>
                    </li>
                    <li class="${page=='8'?'active':''}">
                        <a href="8.jsf">#{msgs.character8}</a>
                    </li>
                    <div class="sidebar-count">Click Count : #{pageMB.count}</div>
                </ul>
                
            </div>

            <!-- /#sidebar-wrapper -->
        </ui:composition>
    </body>
</html>

