<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets">
    <h:head>
        <title>#{msgs.title}</title>
    </h:head>
    <h:body>
        <div>
            <ui:composition template="/templates/product.xhtml">
            <ui:define name="mode">
                Enter new 
            </ui:define>
            <ui:define name="button">
                <h:commandButton value="Add" action="#{productMB.addProduct()}"/>
                <h:commandButton value="Cancel" action="home?face-redirect=true" immediate="true" />
            </ui:define>
        </ui:composition>           
        </div>
    </h:body>
</html>

