<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets">
    <h:head>
        <title>#{msgs.title}</title>
    </h:head>
    <h:body>
        <div>
            <ui:insert name="header">
                <ui:include src="/templates/header.xhtml"/>
            </ui:insert>
            Please select action to perform:<br/>

            <br/>
            <h:button value="View List" outcome="view"/>
            <h:form>
                <h:commandButton value="Add" action="#{productMB.newProductPage()}" rendered="#{loginMB.loginUser.admin}"/>
            </h:form>
            <ui:insert name="footer">
                <ui:include src="/templates/footer.xhtml"/>
            </ui:insert>
        </div>
    </h:body>
</html>

