<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets">
    <h:head>
        <title>#{msgs.title}</title>
    </h:head>
    <h:body>
        <div>
            <h1 style="text-align: center">This is the Midterm Programming Exam</h1>
            To start the web-application please click start.<br/>
            The number of users currently logged in is : ${applicationMB.sessionCount}<br/>
            <br/>
            <h:button value="Start" outcome="login"/>
            <ui:insert name="footer">
                <ui:include src="/templates/footer.xhtml"/>
            </ui:insert>
        </div>
    </h:body>
</html>

