<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
      xmlns:f="http://xmlns.jcp.org/jsf/core">
    <h:head>
        <title>#{msgs.title}</title>
    </h:head>
    <h:body>
        <div>
            <h1>Please log in to continue</h1>
            <h:form>
                <table>
                    <tr>
                        <td>User Name:</td>
                        <td>
                            <h:inputText id="username" value="#{loginMB.loginBean.username}"
                                         validatorMessage="#{msgs.usernameValidate}">
                                <f:validateRequired />
                            </h:inputText>                        
                            <h:message for="username" style="color:red"/>
                        </td>
                    </tr>
                    <tr>
                        <td>Password:</td>
                        <td>
                            <h:inputSecret id="password" value="#{loginMB.loginBean.password}"
                                           validatorMessage="#{msgs.passwordValidate}">
                                <f:validateRequired />
                            </h:inputSecret>                        
                            <h:message for="password" style="color:red"/>
                        </td>
                    </tr>
                </table>
                <h:commandButton action="#{loginMB.login()}" value="Login"/>
                <!-- Global messages -->
                <h:messages style="color:red" globalOnly="true" />
            </h:form>
            <ui:insert name="footer">
                <ui:include src="/templates/footer.xhtml"/>
            </ui:insert>
        </div>
    </h:body>
</html>

