<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
      xmlns:f="http://xmlns.jcp.org/jsf/core">
    <h:head>
        <title>#{msgs.title}</title>
    </h:head>
    <h:body>
        <div>
            <ui:insert name="header">
                <ui:include src="/templates/header.xhtml"/>
            </ui:insert>
            The list of products in our system are:<br/>

            <h:dataTable border="1" value="#{productMB.productList}" var="product">
                <h:column>
                    <f:facet name="header" >ID</f:facet>
                        #{product.id}
                </h:column>
                <h:column>
                    <f:facet name="header" >Name</f:facet>
                        #{product.name}
                </h:column>
                <h:column>
                    <f:facet name="header" >Price</f:facet>
                    $#{product.price}
                </h:column>
                <h:column>
                    <f:facet name="header" >Description</f:facet>
                        #{product.description}
                </h:column>
                <h:column>
                    <f:facet name="header" >Edit Link</f:facet>
                    <h:form>
                        <h:commandLink action="#{productMB.editProduct(product.id)}" value="Edit"/>
                    </h:form>                    
                </h:column>
                <h:column>
                    <f:facet name="header" >Delete Link</f:facet>
                    <h:form>
                        <h:commandLink action="#{productMB.deleteProduct(product.id)}" value="Delete" onclick="return confirm('Are you sure you want to delete this student?')"/>
                    </h:form>                    
                </h:column>
            </h:dataTable>
            <br/>
            <h:button outcome="home" value="Done"></h:button>
            <ui:insert name="footer">
                <ui:include src="/templates/footer.xhtml"/>
            </ui:insert>
        </div>
    </h:body>
</html>

