<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:f="http://java.sun.com/jsf/core">
    <h:head>
        <title>Add Book</title>
    </h:head>
    <h:body>
        <h1>Add a book:</h1>
        <h:form>
            <table>
                <tr>
                    <td>Title:</td>
                    <td>
                        <h:inputText id="title" value="#{bookManagedBean.book.title}" 
                                     validatorMessage="Title is required">
                            <f:validateRequired />
                        </h:inputText>
                        <h:message for="title" style="color:red"/>
                    </td>
                </tr>
                <tr>
                    <td>Pages</td>
                    <td>
                        <h:inputText id="page" value="#{bookManagedBean.book.page}" 
                                validatorMessage="Page must be between 10-700"
                                converterMessage="Page must be number">
                            <f:validateLongRange minimum="10" maximum="700" for="page"/>
                        </h:inputText>
                        <h:message for="page" style="color:red"/>
                    </td>
                </tr>
                <tr>
                    <td>Category:</td>
                    <td>
                        <h:selectOneMenu value="#{bookManagedBean.book.category}">
                            <f:selectItems value="#{bookManagedBean.book.categories}" />
                        </h:selectOneMenu>
                    </td>
                </tr>
            </table>
            <h:commandButton value="Reset" type="reset" /><br/>
            <h:commandButton value="Add" action="#{bookManagedBean.addBook()}"/><br/>
<!--            skip validation process invoke only in apply value phase-->
            <h:commandButton value="Cancel" action="main.jsf" immediate="true" /><br/>
        </h:form>
<!--        <h:link outcome="main"><button>Cancel</button></h:link><br/>-->
    </h:body>
</html>

