<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://xmlns.jcp.org/jsf/html">
    <h:head>
        <title>Login</title>
    </h:head>
    <h:body>
        <h1>Login Form</h1>
        <h:form>
            Username:<h:inputText value="#{authenticateBean.credential.username}"/><br/>
            Password:<h:inputSecret value="#{authenticateBean.credential.password}"/><br/>
            <h:commandButton value="Login" action="#{authenticateBean.authenticate()}"/>
        </h:form>
        <p style="color:red">#{authenticateBean.error}</p>
    </h:body>
</html>

