<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets">
    <h:head>
        <title>Facelet Title</title>
    </h:head>
    <h:body>
        <ui:composition>
                <p>Welcome, ${loginMB.loginUser.name}</p>

                <div style="float:right">
                    <h:form>
                        <h:commandButton value="Logout" action="#{loginMB.logout()}"/>
                    </h:form>
                </div>
        </ui:composition>
    </h:body>
</html>

