<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
      xmlns:f="http://xmlns.jcp.org/jsf/core">
    <h:head>
        <title>Facelet Title</title>
    </h:head>
    <h:body>
        <ui:composition>
            <ui:insert name="header">
                <ui:include src="/templates/header.xhtml"/>
            </ui:insert>
            <h1><ui:insert name="mode"></ui:insert>product information</h1>
            <h:form>
                <table>
                    <tr>
                        <td>Name:</td>
                        <td>
                            <h:inputText id="productName" value="#{productMB.productBean.name}"
                                 validator="#{productNameValidator.validate}">
                            </h:inputText>
                            
                            <h:message for="productName" style="color:red"/>
                        </td>
                    </tr>
                    <tr>
                        <td>Price:</td>
                        <td>
                            <h:inputText id="price" value="#{productMB.productBean.price}"/>
                            <h:message for="price" style="color:red"/>
                        </td>
                    </tr>
                    <tr>
                        <td>Description:</td>
                        <td>
                            <h:inputText id="description" value="#{productMB.productBean.description}"/>
                        </td>
                    </tr>                    
                </table>
                <ui:insert name="button"></ui:insert>   
            </h:form> 
             <ui:insert name="footer">
                <ui:include src="/templates/footer.xhtml"/>
            </ui:insert>
        </ui:composition>
    </h:body>
</html>

