<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
      xmlns:f="http://xmlns.jcp.org/jsf/core">
    <h:head>
        <title>Facelet Title</title>
    </h:head>
    <h:body>
        <ui:composition>
            <h1><ui:insert name="mode"></ui:insert>student information</h1>
        <h:form>
            <table>
                <ui:insert name="id"></ui:insert>
                
                <tr>
                    <td>Name:</td>
                    <td>
                        <h:inputText id="name" value="#{studentMB.student.name}"
                            validatorMessage="name must be between 1-20">
                            <f:validateLength minimum="1" maximum="20" />
                        </h:inputText>
                        <h:message for="name" style="color:red"/>
                    </td>
                </tr>
                <tr>
                    <td>GPA:</td>
                    <td>
                        <h:inputText id="gpa" value="#{studentMB.student.gpa}"
                            validatorMessage="GPA must be between 0.0-4.0"
                            converterMessage="GPA must be float" >
                            <f:validateRequired />
                            <f:validateDoubleRange minimum="0" maximum="4"/>
                        </h:inputText>
                        <h:message for="gpa" style="color:red"/>
                    </td>
                </tr>
                <tr>
                    <td>Gender:</td>
                    <td>
                        <h:selectOneRadio value="#{studentMB.student.gender}">
                            <f:selectItem itemValue="Male" itemLabel="Male" />
                            <f:selectItem itemValue="Female" itemLabel="Female" />
                        </h:selectOneRadio>

                    </td>
                </tr>
                <tr>
                    <td>Owns:</td>
                    <td> 
                        <h:selectOneMenu value="#{studentMB.student.own}">
                            <f:selectItems value="#{studentMB.ownsList}" />
                        </h:selectOneMenu>
                    </td>
                </tr>
                <tr>
                    <td><h:selectBooleanCheckbox value="#{studentMB.student.hasPhone}" /> Has Phone</td>
                </tr>
                <tr>
                    <td>Laptop:</td>
                    <td>
                        <h:selectOneRadio value="#{studentMB.student.laptop}">
                            <f:selectItems value="#{studentMB.laptops}"/>
                        </h:selectOneRadio>

                    </td>
                </tr>
            </table>            
            <ui:insert name="button"></ui:insert>                           
<!--            skip validation process invoke only in apply value phase-->            
        </h:form>
        </ui:composition>            
    </h:body>
</html>

