<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:mycc="http://www.cs.mum.edu/cs545/2016/june/greeting">
    <h:head>
        <title>Facelet Title</title>
    </h:head>
    <h:body>
        <h:form>
            <mycc:greeting />
        </h:form>
        #{myManagedBean.myBean.name}<br/>
        #{myManagedBean.myBean.greeting}<br/>
        
    </h:body>
</html>

